---
import MyAstroComponent from "../components/MyAstroComponent.astro";
---

<html lang="en">
	<head>
		<meta name="description" content="Astro description" />
		<title>Astro shared package</title>
	</head>
	<body>
    <MyAstroComponent />
	</body>
</html>

